@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Mona-Sans", sans-serif;
  }
}

.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(225, 224, 224);
  padding-bottom: 1rem;
}

h1 > svg {
  margin-left: 10px;
}

.field-container:nth-last-child(2),
.field-container:nth-last-child(1) {
  border: none;
}

label {
  font-size: large;
}
